<ng-container *ngIf="date$ | async as date">
  <ion-header>
    <ion-toolbar
      [color]="(date.currentDate | compareDates : date.selectedDate) ? 'primary' : 'light'"
      class="ion-text-center"
    >
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-icon class="menu" name="menu"></ion-icon>
          </ion-col>
          <ion-col size="9">
            <ion-title>BudgetLoger </ion-title>
          </ion-col>
          <ion-col>
            <ion-icon name="pencil"></ion-icon>
          </ion-col>
        </ion-row>
        <ion-row class="date">
          <ion-col>
            <ion-icon (click)="previousMounth()" name="chevron-back"></ion-icon>
          </ion-col>
          <ion-col size="9">
            <ion-text>
              <span>{{ date.selectedDate | date:'yyyy LLLL ' }}</span>
              <span
                [style.color]="(date.currentDate | compareDates : date.selectedDate) ? '#0ea70e' : '#222428'"
                class="day"
                >{{ date.selectedDate | date:'dd'}}</span
              >
            </ion-text>
          </ion-col>
          <ion-col>
            <ion-icon (click)="nextMounth()" name="chevron-forward"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <ng-container
      *ngIf="transactionService.listedTransactions$ | async as transactions"
    >
      <ion-grid>
        <ion-row>
          <ion-col>
            <p *ngFor="let transaction of transactions">{{transaction.id}}</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ng-container>
  </ion-content>
</ng-container>
