<ion-header>
  <ion-toolbar> </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center">
  <ng-container
    *ngIf="categoryService.categories$ | async as categories; else loading"
  >
    <div class="container">
      <ng-container *ngFor="let category of categories">
        <div class="grid">
          <app-category
            [category]="category"
            [isEditMode]="isEditMode"
          ></app-category>
        </div>
      </ng-container>
      <ng-container *ngIf="categories.length < 12">
        <div class="grid item-{{categories.length + 1}}">
          <app-category
            [slot]="('item-' + (categories.length + 1) | castToGridSlot)"
          >
          </app-category>
        </div>
      </ng-container>
      <div class="grid item-big">
        <div class="item center">
          <circle-progress [percent]="100" [title]="'Cél'"></circle-progress>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-template #loading
    ><ion-spinner color="primary"></ion-spinner
  ></ng-template>
</ion-content>
