<ng-container *ngIf="displayedData$ | async as displayedData">
  <ion-header>
    <ion-toolbar
      [color]="(displayedData.date.currentDate | isEqualDates : displayedData.date.selectedDate) ? 'primary' : 'light'"
      class="ion-text-center"
    >
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-icon class="menu" name="menu"></ion-icon>
          </ion-col>
          <ion-col size="9">
            <ion-title>Budget Logger </ion-title>
          </ion-col>
          <ion-col>
            <ion-icon name="search" (click)="notImplementedYet()"></ion-icon>
          </ion-col>
        </ion-row>
        <ion-row class="date">
          <ion-col>
            <ion-icon (click)="previousMounth()" name="chevron-back"></ion-icon>
          </ion-col>
          <ion-col size="9">
            <ion-text>
              <span
                >{{ displayedData.date.selectedDate | date:'yyyy LLLL '}}</span
              >
              <span
                [style.color]="(displayedData.date.currentDate | isEqualDates : displayedData.date.selectedDate) ? '#0ea70e' : '#222428'"
                class="day"
                >{{ displayedData.date.selectedDate | date:'dd'}}</span
              >
            </ion-text>
          </ion-col>
          <ion-col>
            <ion-icon (click)="nextMounth()" name="chevron-forward"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ng-container>
      <ion-grid>
        <ng-container *ngFor="let data of displayedData.data">
          <ion-row class="frist-of-day" *ngIf="data.isFirstOfTheDay">
            <ion-col>
              <ion-item>
                <ion-grid>
                  <ion-row class="ion-text-center">
                    <ion-col size="2">
                      <div class="date-day">
                        {{data.transaction.date | date:'dd'}}
                      </div>
                    </ion-col>
                    <ion-col class="ion-text-start">
                      <ion-label>
                        <div class="container">
                          <div class="day-of-the-week">
                            {{data.transaction.date | date:'EEEE'}}
                          </div>
                          <div class="mounth-year"></div>
                          {{data.transaction.date | date:'LLLL yyyy'}}
                        </div>
                      </ion-label>
                    </ion-col>
                    <ion-col class="ion-text-end">
                      <ion-label class="spent">
                        <ion-text color="danger"
                          >{{spentOnDay(data.transaction.date) | async}} Ft
                        </ion-text>
                      </ion-label>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item-sliding #slidingItem>
                <app-transaction
                  [category]="data.category"
                  [transaction]="data.transaction"
                ></app-transaction>
                <ion-item-options side="end">
                  <ion-item-option
                    color="danger"
                    (click)="deleteTransaction(data.transaction.id)"
                    ><ion-icon name="trash" slot="icon-only"></ion-icon
                  ></ion-item-option>
                </ion-item-options>
              </ion-item-sliding>
            </ion-col>
          </ion-row>
        </ng-container>
      </ion-grid>
    </ng-container>
  </ion-content>
</ng-container>
