<ion-header>
  <ion-toolbar class="ion-text-center">
    <ion-title> Kategória módosítása </ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button (click)="update()" [disabled]="!editCategoryForm.valid">
        <ion-icon name="checkmark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="editCategoryForm">
    <ion-grid>
      <ion-row>
        <ion-col class="icon-list" (click)="openIconListModal()" size="2">
          <ion-icon [name]="selectedIcon"></ion-icon>
        </ion-col>
        <ion-col size="10">
          <ion-item>
            <ion-label position="floating">Név</ion-label>
            <ion-input
              type="text"
              name="name"
              formControlName="categoryName"
              required
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button
            class="delete-button"
            color="danger"
            expand="block"
            (click)="deleteCategory()"
            >Kategória Törlése</ion-button
          >
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
