<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="categories">
      <ion-label>Kategóriák</ion-label>
      <ion-icon name="apps"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="transaction">
      <ion-label>Tranzakciók</ion-label>
      <ion-icon name="receipt"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="overview">
      <ion-label>Áttekintés</ion-label>
      <ion-icon name="stats-chart"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
