<ion-header>
  <ion-toolbar class="ion-text-center">
    <ion-title> Ikonok </ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="onCancel()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button (click)="selectIcon()" [disabled]="!selectedIcon">
        <ion-icon name="checkmark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-icon
    *ngFor="let iconName of iconList"
    [name]="iconName"
    [ngClass]="{ selected: iconName === selectedIcon }"
    (click)="setSelectedItem(iconName)"
  ></ion-icon>
</ion-content>
